#content {
    max-width:1600px;
    margin:0 auto;
}
nav a, #hero-msg h1, #hero-msg h4, .button-box, main section, #hero {
    text-align:center;
}
#background {
    height:725px;
}

body {
    background-color:#ffffff;
    color:#000000; 
}
header {
    background-color:#134266;
    color:#ffffff;
}
header > a > img.logo {
    height:80px;
}
nav {
    background-color:#134266;
    color:#ffffff;
}
nav a, nav a:visited {
    text-align:center;
    text-decoration:none;
    color:#ffffff;
}
nav a:hover {
    background-color:#78c5d7;
    color:#134266;
    text-decoration:underline;
}
.book, .join {
    text-decoration:none;
    background-color:#134266;
    color:#ffffff;
}
.book:hover, .join:hover {
    color:#78c5d7;
    background-color:#134266;
}


#background {
    background-color:#fce172;
    color:#000000;
}
section.msg {
    background-color:#fce172;
    color:#000000;
}
footer {
    background-color:#134266;
    color:#ffffff;
}
footer a {
    text-decoration:none;
    color:#ffffff;
}
footer p {
    font-size:1.2em;
}
footer p a:hover {
    text-decoration:underline;
}

#hero #hero-box > img {
    margin:0px auto;
}

.icon {
    width:80px;
}