a:hover {
    background-color: white;
    color: steelblue;
  }
img { width:30%; display:block; margin:0px auto; border:solid 4px steelblue; }
a { font-size:1em; }
h1 { text-align:center; }
p { text-align:center; padding:10px; }
nav, footer { text-align:center; background-color:steelblue; padding:10px; }