body { font-family:"Open Sans", Lato, Helvetica, sans-serif; font-size:1.2em; }
header, footer { background-color:#3bad67; color:#fff; font-family:"Libre Baskerville", Verdana, "IM Fell French Canon SC"; }
.container { max-width:1200px; margin:0px auto; }
header > div > div { display:inline-block; }
header > div > div:nth-child(1) { width:20%; text-align:left; }
header > div > div:nth-child(2) { width:75%; text-align:right; }
header a, footer > div:nth-child(2) a { color:#fff; font-size:1.2em; font-weight:bold; text-decoration:none; padding:10px 20px; }
header a:hover { text-decoration:underline; }
#site_logo { padding:10px; }
header { height:80px; }
header nav { padding:20px 0px; }
#main_hero_image img { width:100%; }
img.float-right { float:right; border:solid 1px #174412; padding:1px; margin:0px 0px 10px 20px; }
footer { min-height:50px; padding:20px 30px; }
footer > div > div { width:33%; display:inline-block; }
footer > div > div:nth-child(1) { text-align:left; }
footer > div > div:nth-child(2) { text-align:center; }
footer > div > div:nth-child(3) { text-align:right; }